<div class="container">
  <div class="row">
    <div class="col-12 my-5" style="text-align: center;">
      
      <h1 class="mb-3">About</h1>
      <p class="my-0">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
      <p class="my-0">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p class="my-0">様々なバリエーションをご用意しております。</p>
      <p class="my-0">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p class="my-0">ぜひご注文ください。</p>
      
    <div style="width:400px; height:200px;" class="border my-5 mx-auto">
    </div>
    
    </div>
  </div>
</div>


