<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="d-inline-block bg-light my-5 mx-5 px-3">会員一覧</h5></br>
    </div>
    
    <div class="col-10 mx-auto">
      <table class="table" style="border-bottom: 1px solid #dcdcdc">
        <thead class="table-active">
          <th>会員ID</th>
          <th><u>氏名</u></th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </thead>
        <tbody>
          <% @customers.each do|customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><u><%= link_to customer.last_name+customer.first_name, admin_customer_path(customer.id) %></u></td>
              <td><%= customer.email %></td>
              <% if customer.is_deleted? %>
                <td class="text-secondary"><strong>退会</strong></td>
              <% else %>
                <td class="text-success"><strong>有効</strong></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="col-10 mx-auto" style="text-align: center;">
        <%= paginate @customers %>
      </div>
      
    </div>
    
  </div>
</div>

