<div class="container">
  <div class="row">
    <div class="col-12" style="eight: 150px;">
    </div>
    <div class="col-12" style="text-align: center; height: 600px;">
      <h4 style="margin-top: 200px;">ご注文ありがとうございました！</h4>
    </div>
  </div>
</div>